[2017-02-22 19:31] xogeny opened #5 "Make sidebar"
The sidebar would be more attractive if it had rounded corners and perhaps a bit of shadow.  Will you accept a PR for this?

[2017-02-22 19:32] xogeny opened #6 "Notes as popup/dialog"
As it stands, the "Notes" section for tools is very cramped.  Wouldn't it be better to include a button that opens a popup or dialog so that more space could be allocated to notes?

[2017-02-22 21:44] xogeny commented on #6
It turns out, there is no underlying CSS framework here.  So there is no out of the box popup scheme to leverage.  So we either have to add a framework or implement a popup from scratch.

[2017-02-24 11:00] andreas-junghanns commented on #5
Rounded edges as the tools buttons have? Sure, that sounds reasonable. But again: What about the Word and PowerPoint templates? Should those not be changed the same way to keep things identical?

I think we should discuss the general approach to changing styling in a larger group as we accepted the proposal from the agency.

[2017-02-24 14:47] xogeny commented on #5
I don't know anything about the Word or PowerPoint templates.  Note that the rounded edges were already merged into the web site.

[2017-05-22 14:34] johanrhodin opened #15 "www.fmi-standard.org uses an invalid security certificate."
The certificate is only valid for the following names: *.github.com, github.com, *.github.io, github.io Error code: SSL_ERROR_BAD_CERT_DOMAIN

[2017-05-22 16:04] sjoelund commented on #15
Yes, we don't serve https since the move to GitHub web server since it doesn't support it.

⁣Sent from BlueMail ​

On 22 May 2017, 16:34, at 16:34, Johan Rhodin <notifications@github.com> wrote:

[2017-05-22 17:40] tbeu commented on #15
@casella There is now this issue on GitHub.

[2017-05-22 22:22] johanrhodin commented on #15
OK, if that is the case this can be closed "as-designed" I guess.
(We should revisit when GitHub pages supports SSL for custom domains)

[2017-07-28 09:05] thorade commented on #15
Also discussed here:
https://github.com/isaacs/github/issues/156

[2018-02-05 14:16] tbeu opened #28 "Latest news entries"
The lastest news list on the landing page has about 25 entries and goes back to 2014. Having an "Older news" button to expand past news entries would serve some more lucidity.

[2018-03-21 09:22] thorade commented on #15
Possibly this does now work (or soon).
Please check whether https can be enabled here:
https://github.com/modelica/fmi-standard.org/settings

According to Google, fmi-standard.org already has already received certificates from Let's encrypt:
https://transparencyreport.google.com/https/certificates
https://transparencyreport.google.com/https/certificates?cert_search_auth=&cert_search_cert=&cert_sea

[2018-03-21 09:30] sjoelund commented on #15
The modelica.org server at TUHH has (had) fmi-standard.org certificates. GitHub cannot use them and does not have any way of enabling https for custom domains. I have offered to enable transparent reverse proxy to serve the site, or to allow the CI system to upload the generated files to that server instead of github, but it seems people do not want this and prefer to have existing https links bro

[2018-03-21 09:32] thorade commented on #15
github is working on https for custom domains and is starting to roll it out, according to the linked discussion, but no official announcement so far.

[2018-03-21 09:37] sjoelund commented on #15
OK, I'll need to look for that. newsletter.modelica.org was able to enable it, but it's not an apex domain. Perhaps www.fmi-standard.org would work?

[2018-03-21 20:21] xogeny commented on #6
This is resolved by the dynamic tools page.

[2018-03-21 20:21] #6 closed

[2018-03-21 20:22] #5 closed

[2018-03-24 12:31] xogeny commented on #15
I don't know if anybody cares, but I'm using `netlify` to host [https://preview.fmi-standard.org](https://preview.fmi-standard.org) and the HTTPS support there is effortless.  Assuming we accept the new FMI cross check process, then I would assume we'll publish that content to `www.fmi-standard.org` and `fmi-standard.org`.  Netlify not only generates the SSL certificates for us automatically, they

[2018-03-24 12:35] sjoelund commented on #15
An alternative would be to redirect from fmi-standard.org to www.fmi-standard.org

[2018-03-25 13:24] xogeny commented on #15
Yes, but these days, people expect https://fmi-standard.org to work.  Seems like most sites now skip the `www.` (and probably redirect `www` to the TLD).

[2018-03-25 14:13] sjoelund commented on #15
Indeed, it would be a little bit weird to redirect from fmi-standard.org to www.fmi-standard.org, but it's not like https://fmi-standard.org would not work; it's just that one of our webservers would redirect it to www. An A-record would also work but with calling the load-balancer instead of letting the DNS do the load-balancing.

[2018-04-04 14:41] xogeny opened #29 "Add Google Analytics"
@andreas-junghanns asked about tracking visitors here.

@andreas-junghanns, please confirm you want to add this...

[2018-04-04 14:46] andreas-junghanns commented on #29
Yes, please add.

[2018-04-04 15:00] MartinOtter commented on #29
It must be added in such a form, that no personal data is used, in order to fulfill the new EU regulations GDPR (see e.g. https://blog.convert.com/google-analytics-and-gdpr-is-it-compliant.html)

[2018-04-04 17:56] GallLeo commented on #29
Doesn't this add the inconvenience for all visitors to click away the "We are using Cookies" pop-up?

[2018-04-04 21:46] xogeny commented on #29
Actually, this should be done by the web masters.  It is going to involve potentially multiple sites and it should be done in a consistent way.  Furthermore, the analytics should be collected under the MA webmaster account (which I don't seem to have access to at the moment).

I did find [a nice link about GDPR](https://medium.com/@subsign/google-analytics-and-gdpr-compliance-3fad792babf5) though.

[2018-04-04 21:47] xogeny commented on #29
@GallLeo As far as I know, Google Analytics doesn't pop up any such dialog.  Do you know otherwise?  I say this because I use it on multiple sites and *I've* never seen such a popup.

[2018-04-04 22:06] xogeny opened #30 "Reduce Whitespace"
The current CSS (IIRC) uses media queries to determine screen size and then picks a fixed width  based on width ranges.  Using fixed widths as the advantage that it only a few specific widths are possible and so layout can be verified for each of those potential values.

One downside of fixed width layout is that you can wind up with significant amounts of white space in the left and right margins

[2018-04-04 22:49] andreas-junghanns commented on #30
I think we should wait until we run into problems with the two-column mode (read: run out of space). Once we get to that point, we can discuss margins again.

[2018-04-05 05:59] dietmarw commented on #29
The behaviour of **not** showing the pop-up is probably a violation of the European rules itself. IIRC then when ever a site uses cookies it needs to inform the visitor about this in such a way that the visitor need to acknowledge this.

[2018-04-05 13:11] xogeny commented on #29
Or perhaps it just doesn’t use cookies.  I really have no idea.  But I assume Google would do what is necessary to comply...

[2018-04-05 13:32] GallLeo commented on #29
Maybe you don't need it, because you are located in U.S.?

There is nearly no bigger website anymore, which doesn't have these nasty pop-ups.
I asked a friend, who runs a web development business. According to him, you do need the "Cookie Law Pop-up" for Google Analytics. They use a payed service www.iubenda.com in order to generate these texts based on the used services.

[2018-04-06 07:40] sjoelund commented on #29
You not only need the user to consent; you need to store when the user consented to this tracking. Perhaps storing a time-stamp in the cookie plus which version of the consent would suffice; I am not sure. Note that you need a way to remove consent which is as easy or easier than giving consent; in most web browsers clearing the cookies for a web page is cumbersome so ideally you should then have

[2018-05-01 19:32] thorade commented on #15
https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2018-06-01 04:40] sjoelund commented on #15
The certificate seems to have been issued May 2, but it took a while longer before the Github UI allowed clicking the box; it worked today and fmi-standard.org has https support again.

[2018-06-01 04:40] #15 closed

[2018-06-01 10:27] beutlich commented on #15
Thanks. I updated the link in the GitHub description accordingly.

[2018-09-06 18:45] tbeu commented on #28
Improved by a89fbe54964f4d71f5740beb362102d7431bd2ec.

[2018-09-08 17:38] t-sommer commented on #30
@xogeny, is this still an issue with the new Bootstrap based layout?

[2018-09-13 08:17] pmai opened #50 "XC data is missing many tool entries and not regeneratable with current infos"
As noted in t-sommer/fmi-website#1 many tools are missing from the XC result tables, like e.g. FMI Bench, FMI Toolbox (for import), etc. I.e. there are only 8 tools showing results for Co-Sim import on FMI2.0 on Win64, but there are many many more tools that reported valid import results in the XC repos, so something is going wrong in the data generation script (and or tools were missing from the

[2018-09-13 08:20] t-sommer commented on #50
I'm cleaning up the code right now and will push the scripts shortly

[2018-09-13 19:18] #30 closed

[2018-09-18 06:14] #28 closed

[2018-09-18 18:33] beutlich opened #54 "Missing right border if only 1.0 is framed"
It looks like the right border is missing if only 1.0 is framed.

![grafik](https://user-images.githubusercontent.com/14896695/45708542-fc210d80-bb81-11e8-8a6f-08c3d6a289a6.png)

[2018-09-18 19:33] chrbertsch opened #57 "Add a note to the asciidoc / html version of the FMI Standard, the released PDF version is the valid version"
In order to avoid ambiguity in case of typos, we should add a note the asciidoc version of the FMI 2.0 standard, that the release PDF version of the standard is the valid one in case of differences.

[2018-09-19 08:48] beutlich opened #59 "Improve tool filter on import / export and CS / ME"
Is there any chance to filter the tools list to only show importers / exporters and CS / ME tools?

[2018-09-20 10:05] t-sommer commented on #59
We're trying to keep the filters as simple as possible. It should allow users to reduce the list to fit on one page.

[2018-09-20 10:05] #59 closed

[2018-09-20 10:07] t-sommer commented on #57
@chrbertsch, can you please make a PR once the Trac tickets are migrated?

[2018-09-20 10:08] beutlich commented on #59
Well, I'd leave this open for discussion. Filtering on the columns is definitely nice to have, otherwise you are totally lost on that long list.

[2018-09-20 10:11] t-sommer commented on #54
The outlines are provided by the [Bootstrap Button Groups](https://getbootstrap.com/docs/4.1/components/button-group/). The border comes from the right button.

[2018-09-20 10:16] beutlich commented on #54
OK, we simply must avoid tools with planned 1.0 support but unavailable 2.0 support then. :smiley:

[2018-09-20 11:29] chrbertsch commented on #57
OK.
@beutlich : Are you already working on the migration of tickets or when is this planned? Thanks!

[2018-09-20 11:58] beutlich commented on #57
There are only 6 Trac tickets to migrate here. We'll probably will not synchronize the tickte numbers then.

https://trac.fmi-standard.org/query?status=assigned&status=closed&status=new&status=reopened&component=website&order=priority

[2018-09-20 12:06] t-sommer commented on #57
@chrbertsch, do you want to add the note to the homepage (this repo) or the fmi-standard itself?

[2018-09-20 12:07] chrbertsch commented on #57
I agree.

[2018-09-20 18:14] beutlich opened #65 "Invalid https links"
The change in #62 changed many links into invalid ones, e.g., https://www.pysimulator.org or https://www.virtualmotion.co.kr/en/index.do or https://www.xmodsoftware.com/.

[2018-09-20 18:57] t-sommer commented on #65
The [automatic check](https://github.com/modelica/fmi-standard.org/blob/master/.travis.yml#L9) reported no problems. I'll look into it.

[2018-09-21 06:20] t-sommer commented on #65
The above websites serve content via https but use invalid certificates.

[2018-09-21 07:57] pmai commented on #65
And at least https://www.pysimulator.org/ is now a parked domain, so invalid in any case.

[2018-09-21 09:11] beutlich opened #66 "Hard-coded number of tools"
Currently the number of FMI supporting tools is hard-coded to 108. It would be more appropriate if this number is calculated from the tools.csv list.

[2018-09-25 08:06] #66 closed

[2018-09-25 08:07] #54 closed

[2018-09-25 08:12] t-sommer commented on #65
It's up to the webmasters of the respective websites to use valid SSL certificates (e.g. from https://letsencrypt.org/).

[2018-09-25 08:12] #65 closed

[2018-09-25 08:16] t-sommer commented on #57
Maybe we should not tag / publish the 2.0 HTML version and start with 2.0.1 to avoid confusion in the first place.

[2018-09-25 08:20] t-sommer commented on #57
We can still regularly publish the development version as 2.0.1-snapshot on the website to give people the chance to review it w/o installing any tools.

[2018-09-25 09:57] andreas-junghanns commented on #57
Sure, 2.0 is not really important. Important is how we move forward.

[2018-10-01 18:03] t-sommer commented on #50
We've just added the cross-check information to the [tools table](https://fmi-standard.org/tools/) (generated from https://github.com/modelica/fmi-cross-check)

[2018-10-01 18:14] t-sommer opened #70 "Add a "who's using FMI" section"
It would be nice to have a section with logos of companies using FMI on the start page (similar to GitHub's website, see below) maybe even with a quote ("We use FMI at XXX..."). Three or four "big names" from each industry (automotive, aerospace, industrial equipment, medical, research, ...) would be great.

<img width="908" alt="screenshot 2018-10-01 19 57 39" src="https://user-images.githubuserc

[2018-10-02 06:32] chrbertsch commented on #70
How to get approval from the companies to get listed there?
How does github do it? (github is different as it is commercial. So I expect the companies
How do open source projects like jupyter do it?
![grafik](https://user-images.githubusercontent.com/16363372/46332639-96229480-c61d-11e8-9d9b-ea3fc7abb479.png)

[2018-10-02 06:45] t-sommer commented on #70
I would expect that a lot of companies would be proud to be listed on the website. We could approach them directly as Modelica Association asking whether it's ok to use their logo.

@chrbertsch How about BOSCH e.g.?

[2018-10-02 06:47] chrbertsch opened #71 "Use only official FMI logo (including colours)"
In order to protect our Trademark, we must use the official colour scheme of our logo and should not use another as currently in the title bar.
![grafik](https://user-images.githubusercontent.com/16363372/46333010-f2d27f00-c61e-11e8-8828-72720eb28950.png)
Citing https://igerent.com/colors-trademarks-claim-or-not-claim :

[2018-10-02 06:51] t-sommer commented on #71
From the [FMI/FMU Logo and FMI Office Templates Terms and Conditions](https://svn.fmi-standard.org/fmi/branches/public/FMILogo-License_v5.pdf):

[2018-10-02 07:28] chrbertsch commented on #71
IMHO we should delete this. (However, nobody will make a fuss about printing the logo in black and white.)
But most important is, that we as the trademark owner use our logo consistently, fulfilling our obligation to protect our trademark.

[2018-10-02 09:02] chrbertsch commented on #70
I support the idea and will clarify how our company handles this.

[2018-10-04 09:10] t-sommer opened #74 "Remove subdomain "preview.fmi-standard.org""

[2018-10-09 18:09] edrenth commented on #70
Agree with the idea and hope to get back in due course. But, we will need a few before publishing. Just one or two may give a negative impression.

[2018-10-11 08:18] a-marion commented on #70
That is a great idea. That would help understand the use of the FMI.

[2018-10-16 19:18] chrbertsch commented on #70
Regarding statements of companies: We could cite from https://itea3.org/project/impact-story/modelisar-impact-story.html or link it.

[2018-10-23 09:47] TorstenBlochwitz opened #81 "Preliminary FMI Alpha feature List for FMI 2.1 is no longer visible"
There is a News entry on the preliminary features list of FMI 2.1 but the page https://fmi-standard.org/news/2017/12/18/fmi-2-1-alpha-feature-list.html Points to the download page, which does not contain this list anymore.

I propose to link to the 3.0 features list (https://fmi-standard.org/news/2018/05/30/fmi-3-0-alpha-feature-list.html) and add a remark and a link to the same page like this pag

[2018-10-24 07:54] atrosinenko opened #84 "Swapped v.1.0 and v.1.0.1 labels under FMI 1 specs download buttons"
Under the "Complete Package 1.0.1" there is "Version 1.0 (2010-01-26)" label and vice versa.

![default](https://user-images.githubusercontent.com/9654772/47414965-f4551a00-d77a-11e8-8843-8342fba59d60.png)

[2018-10-24 08:22] #84 closed

[2018-10-30 09:51] t-sommer commented on #57
Resolved with modelica/fmi-standard@15e4780822b312f0bca90a6c90d84c77722fd32e

[2018-10-30 09:51] #57 closed

[2018-10-30 09:54] t-sommer commented on #74
- [x] branch "dynamic" has been removed

[2018-10-30 10:10] t-sommer commented on #74
There seems to be a [CNAME record](https://help.github.com/articles/setting-up-a-custom-subdomain/) in place that redirects preview.fmi-standard.org to angry-euclid-d015f6.netlify.com:

[code]

@adeas31, can you take care of fixing this?

[2018-10-30 11:37] sjoelund commented on #74
@adeas31 does not have access to the DNS. I have removed the CNAME

[2018-10-30 11:38] t-sommer commented on #74
Thanks!

[2018-10-30 11:38] #74 closed

[2018-10-30 14:04] GallLeo commented on #29
@t-sommer How is an e-mail form related to Google Analytics?

Personally, I don't like these pop-ups at all.
Why adding annoyance to many users, what would you use the usage data for?

We should check carefully, if consent is required. If we don't need active consent, then we should be good to go? (given we add it to the privacy statement, in a proper way).
"It would also seem that if you are NOT

[2018-10-30 14:17] sjoelund commented on #29
@GallLeo the link you provided states:

IP addresses should qualify. Any sort of tracking does as well (an identifier is created for this). Just don't use Google analytics and save us a lot of headache.

At least provide a must-have use-case for tracking users.

[2018-10-31 16:43] chrbertsch commented on #57
On https://fmi-standard.org/downloads/ there is still a link to https://fmi-standard.org/docs/2.0.1-develop/.  It is not mentioned, that this is an unreleased version.
It is not clear to me from which sources this is created. (From the branch support/v2.0.1?)
We should not link to this unreleased version  from https://fmi-standard.org/downloads/ , but perhaps from https://fmi-standard.org/develop

[2018-11-02 13:16] chrbertsch commented on #29
One could use Matomo (an open source alternative to Google Analytics, also available in a cloud-hosted form for a little fee), in a way not to process personal data, so no consent by the user would be necessary, see https://matomo.org/blog/2018/04/how-to-not-process-any-personal-data-with-matomo-and-what-it-means-for-you/

[2018-11-02 13:32] sjoelund commented on #29
That sounds better. 2 octets masked means 16k~64k less accurate ipv4 tracking depending on sizes of IP ranges. More in line with the size of a city. The blog does not describe how ipv6 is handled though.

The problem is... it actually tries to identify individual users anyway:

[2018-11-07 15:09] chrbertsch commented on #71
I got in priniciple the OK to use the Bosch logo for this purpose.
What I would need for final OK is a draft of the Website with the Bosch logo on it,  and someone signing the Bosch conditions for using our logo (@andreas-junghanns  or @MartinOtter  for the MA?)

[2018-11-07 18:22] andreas-junghanns commented on #71
I cannot sign for the MA - only Martin can.

[2018-11-07 23:04] t-sommer commented on #70
@edrenth with Haldex

<img width="1333" alt="screenshot 2018-11-08 00 02 58" src="https://user-images.githubusercontent.com/2453858/48166743-ca0e6b00-e2e9-11e8-99a9-fb737b0fe907.png">

[2018-11-12 09:43] chrbertsch commented on #71
The proposal https://user-images.githubusercontent.com/2453858/48161385-b14a8900-e2da-11e8-8fa4-8370ed03d6d1.png for the website is fine for Bosch. It can be published after signature of Martin of the usage agreement for our logo.

[2018-11-21 10:33] chrbertsch commented on #70
Fine for Bosch.  An agreement regarding the usage of the Bosch Logo on the FMI Website was sent to Martin Otter as MA Chairman for signature.
How shall we go on to get further companies? @pmai :  could you ask Prostep member Companies to back this (Mr Rude organized in the past a GAAG statement to support FMI from leading OEMs)
@hubertus65: Could you use your contacts to companies to back this?

[2018-11-23 14:57] APillekeit opened #99 "Links within the tools table always point to win64 cross checks"
Hi,

The links on the tools page doesn't seem to be updated properly.
If one clicks on the e.g. 2.0 symbol for a tool in the table the user is always directed towards: https://fmi-standard.org/cross-check/fmi2-cs-win64/
It seems to be the case that the win64 cross checks are always linked. Even though if win64 is not specified as a supported platform e.g. for dSPACE SCALEXIO

Regards
Andreas

[2018-11-24 21:03] t-sommer commented on #99
Currently all buttons in the tools list link to the respective results for `win64` because it's the most popular platform (that is supported by all tools except SCALEXIO and TargetLink). A PR that implements a more sophisticated solution is welcome!

[2018-11-25 14:04] APillekeit commented on #99
I understand that win64 is the most popular platform. That is most likly true, but please note that the initial script for creating the website activated the win64 support for all platforms by default, even for SCALEXIO and other HIL platforms. Thus the complete support for win64 is to some extend a tooling issue of the FMI cross check website. A PR that fixes the link issue would be great. I also

[2018-11-29 09:27] TorstenBlochwitz opened #100 "Current status of FMI development is not visible"
The current status of the FMI development is not visible on one central place. The Information that next version will be 3.0 and the 3.0 Alpha Features is only visible in the "News" list of the homepage. I would propose to add a section: Current Status of FMI Development" at top of: https://fmi-standard.org/development/ and put the respective information there and update it from time to time..

[2018-12-19 15:46] dietmarw opened #110 "Links to documents don't work on landing page"
The links to pdf and ppts on the landing page point to the old trac locations which now forward to GitHub tickets. This should be fixed.

[2018-12-19 16:31] dietmarw commented on #110
Landing page is the page you land on when visiting fmi-standard.org :-)

Just search for PDF and PPT there and you see what I mean.

[2018-12-21 15:57] chrbertsch commented on #110
Please close (was not automatically closed  by PR).

[2018-12-21 21:54] #110 closed

[2019-01-09 09:10] TorstenBlochwitz opened #119 "FAQ Page"
When I Google for FMI FAQ I can find: https://fmi-standard.org/faq/. But there is no link from the FMI Website.

I propose to add a new menu item "FAQ" and link to this page. The content of this page should be changed in the following way:
- remove the question on renaming 2.1 to 3.0, this point is accepted meanwhile
- Add a new question: When will FMI 3.0 be released? Answer (tbd): The FMI Steeri

[2019-01-09 09:16] chrbertsch opened #120 "Add tool logos on FMI webpage"
I propose to add logos of tools and/or tool vendors supporting FMI on the FMI webpage.
Tool vendors could upload them themselves and add the filename in https://github.com/modelica/fmi-standard.org/blob/master/_data/tools.csv.
The should implicitely agree on the usage of the logo on the website by uploading it.
Order of thel logos could be alphabetical.

[2019-01-09 10:20] andreas-junghanns commented on #119
Yes, this is a good proposal.

[2019-01-09 10:32] TorstenBlochwitz commented on #119
@t-sommer: Torsten, could you please implement this change? It would take much time for me, which I currently don't have.

[2019-01-09 15:31] TorstenBlochwitz commented on #119
How about adding a new menu item "FAQ" in order to provide access?

[2019-01-09 15:40] t-sommer commented on #119
I'd suggest we consolidate and update the content instead of adding / linking even more redundant and outdated information on the website.

[2019-01-09 16:18] TorstenBlochwitz commented on #119
The content of the FAQ page is not redundant. It provides answers to question we receive very often.
Having a FAQ page, which is not accessible via the Homepage, is completely useless.

[2019-01-14 09:31] t-sommer commented on #29
@sjoelund, can you provide the API key?

[2019-01-14 09:52] sjoelund commented on #29
I could get the key, but I won't until the page is updated to be GDPR-compliant with Google analytics default off until the user presses the button to opt in to analytics.

[2019-01-14 13:41] sjoelund commented on #29
That code only says you use cookies with no opt-out. There needs to be a question to the user if he or she accepts being tracked, and a statement on how this data is used (which is not linked). Only after this is accepted are you allowed to load the Google analytics. To test Google analytics, you can go to https://analytics.google.com and get a code using your personal Google account.

[2019-01-14 13:52] t-sommer commented on #29
Can you cite a regulation / resource? E.g. https://www.theguardian.com/international sets the GA cookie before you accept anything. I would assume that they comply with European law.

[2019-01-14 14:07] MartinOtter commented on #29
The issue is whether Google Analytics is used in a way so that data is anonymized before sending it to the MA web page and then it is not necessary to ask for permission (as long as MA cannot deduce which concrete visitor provided data). However, this collection of data must then be stated in the "privacy police".

I would prefer this approach if it can be implemented with reasonable effort.

Whet

[2019-01-14 14:20] t-sommer commented on #29
[Turning IP anonymization](https://support.google.com/analytics/answer/2763052?hl=en) would be totally fine for our purposes

[2019-01-14 18:52] t-sommer opened #124 "Add public calendar for FMI events"
The posts in https://fmi-standard.org/news/ are almost exclusively announcments for FMI related events. It would be convenient to have a public calendar (e.g. Google Calendar) interested people can subscribe to and get automatic updates without having to check the website and updating their private calendar.

[2019-01-21 18:39] t-sommer commented on #29
@sjoelundl, can you please provide the JavaScript, so I can make the PR as [decided by the Steering Committee](https://github.com/modelica/fmi-design/blob/master/Meetings/2019-01-21-FMI-Steering.adoc#13-analytics-data) today?

Before we can merge the PR we need approval by @MartinOtter.

[2019-01-21 22:34] andreas-junghanns commented on #29
@sjoelund, please help us out here soon - we are waiting to get this done so we can give the soon paying tool providers good statistics.

[2019-01-22 06:55] sjoelund commented on #29
I don't have access to any JavaScript that makes Google Analytics GDPR-compliant. And looking at the requirements Google imposes on using their Google analytics, you would need a database to store records of the consent. I was supposed to phase out using the modelica.org server for new services, so that wouldn't work. And I don't actually administer any other systems.

See also a recent judgement

[2019-01-22 09:07] t-sommer commented on #29
Wir bräuchten Zugriff auf webmaster@fmi-standard.org und den Google Account (falls er schon existiert)

Von meinem iPhone gesendet

[2019-01-26 15:01] chrbertsch opened #127 "Add registration to "fmi-info" mailing list again after clarifying requirements of GDPR"
The registration posssibility to the mailing list "fmi-info" has been removed from the website because of concerns regarding GDPR.
A way of fullfilling the requirments of GDPR should be implemented and a registration possibility for the mailing list be added again.

[2019-01-26 15:10] chrbertsch opened #128 "Add a tool vendor column to the tools page"
Currently some of the tool names on https://fmi-standard.org/tools/ contain the vendor name (e.g., "ANSYS Simplorer"), others not. In some cases, the vendors are more prominently known than the tool names, but currently not displayed in our tool list.
It would be helpful to consistently remove the vendor from the the "tool name" (e.g., "Simplorer")  and add a new column "vendor" ("ANSYS")

[2019-03-09 19:50] chrbertsch opened #137 "Replacement of SVN as storage location for presentations in the literature tab"
In the past, in the literature tab of the website, links to presentations at the user meeting pointed to the public part of the  fmi svn repo, e.g. https://svn.fmi-standard.org/fmi/branches/public/docs/Modelica2017/01_MAP-FMI_User_Meeting_Kickoff.pdf
Shall this SVN be available in the future?
Where shall I store e.g. the slides of this year's "Industrial User Presentations" session at the Modelica

[2019-03-09 19:53] chrbertsch commented on #29
@GallLeo and @MartinOtter : can the backoffice clarify the legal situation regarding GDPR and suggest a solution?

[2019-03-09 20:04] t-sommer commented on #137
You could put them in fmi-standard.org/assets/documents/ and link them in pages/literature.md

[2019-03-09 20:33] chrbertsch commented on #137
OK.
Shall the SVN be alive for some time? Or do we have to move content that is still linked on the website somewhere else? There is also other stuff like the FMI 2.0 ME test FMUs by Martin Otter.

[2019-03-09 20:36] t-sommer commented on #137
All links on the homepage are checked upon every build. I see no benefit in copying them if they're still available on the other server. AFAIK there are no plans to shut down the SVN any time soon.

[2019-05-09 11:49] chrbertsch commented on #29
Adding a link regarding GDPR that was mentioned in the FMI Stering committee yesterday:
https://cookieconsent.insites.com/documentation/compliance/
This is really a blocker, also for the FMI Crosscheck invoicing.

[2019-05-09 12:13] chrbertsch commented on #137
Closing as SVN seems to live longer ...

[2019-05-09 12:13] #137 closed

[2019-06-07 14:35] mbrumbulli opened #167 "Filtering issue in the tools page of the FMI website"
The filtering functionality in the tools page of the FMI website does not work properly.
There are tools (e.g., PragmaDev Studio) with supporting platforms that do not show when filters of said platforms are activated.

[2019-06-07 20:35] t-sommer commented on #167
@mbrumbulli: you might want to update your tool in `_data/tools.csv` if you support win64 and/or linux64

[2019-06-07 20:35] #167 closed

[2019-06-17 08:14] jbernalr opened #170 "add advisory committee member"
Though this field may change in the near future, could we add (or can I do it myself?) "ITK Engineering GmbH" into the advisory committee members list to reflect what is in the fmi-design repository?:
https://github.com/modelica/fmi-design/blob/master/FMI_Members/CurrentMembers.txt
or maybe we could automate the transfer from this document into the website?
Thanks for any infos.

[2019-06-17 08:21] t-sommer commented on #170
Please make a PR to https://github.com/modelica/fmi-standard.org

[2019-06-17 09:07] t-sommer commented on #170
Solved with #171

[2019-06-17 09:07] #170 closed

[2019-07-25 18:54] chrbertsch opened #179 "Add Siemens user statement to FMI website"
“FMI is a promising approach, in which Siemens was involved from the
beginning, to become an important building block in the efficient creation
of interdisciplinary, multi-level digital twins of the whole Siemens portfolio.
Applications range from train or gas turbine engineering to virtual commissioning
in the process industry and operational support in manufacturing plants.”
- Virginie Maillard,

[2019-08-26 14:16] chrbertsch opened #182 "Bad/broken link to "licesenses" in CCLA document"
referring to https://github.com/modelica/fmi-standard/issues/610#issuecomment-524875554

Create http://www.fmi-standard.org/licenses/ as it is referred to in the CCLA.

Andreas Junghanns: "The document is out in the wild - we need to make this link land on something, like /development.Is there such a thing as a UNIX link on the platform we live on now?"

[2019-08-28 13:18] andreas-junghanns commented on #124
The MA backoffice somehow worked on this: I received mysterious emails. I am trying to get some answers and will post here how to find the official FMI calendar and how to get read or read/write access.

[2019-08-30 19:17] chrbertsch opened #183 "Add Boeing user statement"
“The FMI is a key solution to expand Model-Based Development (MBD) throughout our Supply Chain, enabling compatibility with a wide variety of environments and model types while ensuring Aerospace companies protect their IP“
-Boeing Research & Technology-Europe (BR&T-E), Boeing Commercial Airplanes (BCA)

Contact: Juan C. Mendo

Missing: Logo

[2019-08-31 15:25] t-sommer commented on #183
I've removed the acronyms in brackets because they only appear once and break the layout.

[2019-08-31 15:25] #183 closed

[2019-09-02 18:27] chrbertsch commented on #183
We have to temporarily remove the Boeing statement, until we get consent for the logo usage (cf. email from Mendo)
Please re-open the issue.

[2019-09-13 07:26] beutlich opened #188 "Broken links to articles from 10th Modelica Conference"
On https://fmi-standard.org/literature/ the links to the individual articles of the 10th Modelica Conference are broken.

[2019-09-13 08:10] t-sommer commented on #188
@beutlich, can you please make a PR?

[2019-09-14 17:45] beutlich commented on #188
Will do.

[2019-09-14 20:32] beutlich commented on #71
Discussion at the [MA board meeting](https://trac.modelica.org/Modelica/browser/ModelicaDesign/trunk/Modelica-Association/Board-Meetings/2019-09-03-Web-Meeting/_2019-09-03-Minutes.docx) from 2019-09-03:

[2019-09-14 20:41] #188 closed

[2019-10-22 06:52] chrbertsch opened #199 "Add Saab user statement"
Add statement provided by  @meek1 from Saab (Thanks!)

”With the ever increasing use of models in aircraft system development, tool interoperability and model reuse are central challenges. At Saab we see the FMI standard as an enabler for scalable and tool neutral integration of simulation models from different technical disciplines, developed by different internal teams or by external partners.”

[2019-10-22 06:57] chrbertsch commented on #179
Is already online

[2019-10-22 06:57] #179 closed

[2019-10-22 07:00] chrbertsch commented on #124
Already online. @MABackoffice : we use https://calendar.google.com/calendar/embed?src=obe72dhd3apjmipcpmr2asehjs%40group.calendar.google.com&ctz=Europe%2FBerlin where we have access rights.

--> @t-sommer : could you please close this? (I do not have rights to do so)

[2019-10-22 09:00] #124 closed

[2019-10-22 09:26] #199 closed

[2019-10-25 08:21] t-sommer opened #203 "Add privacy statement for "FMU Check""
@chrbertsch, since you brought this up, can you propose a text?

[2019-10-25 10:59] chrbertsch commented on #203
IANAL, but here are some proposals:

This service uses fmpy to validate the modeldescription.xml file of an FMU against the FMI xsd schema and the FMI standard. By selecting an FMU you consent to  upload it to the XXX Cloudservice hosted by company YYY. The FMU will afterwards be deleted, i.e., it will not be permanently stored.
No one else than you will receive the validation results.

THIS SERVI

[2019-10-28 15:19] #203 closed

[2019-10-28 15:22] t-sommer commented on #29
Solved with 65f87a1b54c7392974c3adc1a0c6562a13bf4d35

[2019-10-28 15:22] #29 closed

[2019-11-22 09:15] ghorwin opened #210 "Online checker stops while testing FMU"
Steps to reproduce: upload attached FMU to online FMU compliance checker. Progress bar shows that file is being uploaded, but stops after the progress bar has reached about half of the screen width. May just be related to the file size. Uploading the same FMU built in "small-release-size" mode, the checker works.

(Rename .zip to .fmu before uploading)
[CollectorRohr_linux64.zip](https://github.co

[2019-11-22 15:33] t-sommer commented on #210
The problem was the 30 s timeout of the service worker rather than the file size. I've changed it to 300 s.

[2019-11-22 15:33] #210 closed

[2019-12-16 16:05] andreas-junghanns opened #215 "remove QTronic from and add Synopsys to list of FMI Steering Committee members"
The FMI Steering Committee decided to remove QTronic and add Synopsys to the FMI Steering Committee. The web pages should reflect this.

[2019-12-17 08:55] chrbertsch opened #216 "Remove IFPEN from FMI Steering committee list"
according to email from Mongi on Dec 17th 2019.

[2019-12-17 09:17] chrbertsch opened #217 "Use and provide new FMI logos on FMI website"
as provided on http://www.github.com/modelica/ma-logos, also with usage rules.

- use the new logos on the website
- @APillekeit will ask the dSpace PR department if they can adapt the image
- provide the new logos for download
- create a news article
- Put also new MA logo on the website

[2019-12-17 20:37] t-sommer commented on #216
Solved with 402705e939de620e3d8c0141d59076cd8f681fa6

[2019-12-17 20:37] #216 closed

[2020-01-10 12:47] t-sommer commented on #215
Solved with 886fa9b2e8e20cb66df9c49b18a56b8947558806

[2020-01-10 12:47] #215 closed

[2020-03-02 06:50] chrbertsch commented on #217
@andreas-junghanns , @MartinOtter : is there news about the update for the FMI trademarkt registration?

The new illustration from is available here: https://github.com/modelica/fmi-design/tree/master/FMI_Illustration (thanks to dSPace!)

DCP has created a news item on the webpage regarding the logos https://dcp-standard.org/news/2020/02/25/New-logos-released.html

[2020-03-16 06:43] chrbertsch opened #239 "Events are no longer correctly displayed on our website"
... but are correctly displayed within the linked Google calendar

[2020-04-01 10:19] #217 closed

[2020-04-09 14:50] #239 closed

[2020-04-09 21:35] t-sommer commented on #182
What should be the content of this page?

[2020-04-10 12:27] chrbertsch commented on #182
We could make it point to https://fmi-standard.org/about/

This contains all kind of of license and CCLA information:

* _"The FMI specifications are published under the CC-BY-SA 4.0 (Creative Common Attribution-ShareAlike 4.0 International) license. Source code, such as C-header and XML-schema files, that accompany the specification documents, are provided under the 2-Clause BSD License."_

* _"A

[2020-04-11 14:38] #71 closed

[2020-04-11 14:39] #70 closed

[2020-04-12 11:26] t-sommer commented on #182
@chrbertsch, please make a PR for this

[2020-04-12 11:26] #182 closed

[2020-04-12 11:27] t-sommer commented on #127
What the status here?

[2020-04-14 06:25] chrbertsch commented on #127
We could ask MA to set up a mailing list mechanism similar to the MA Info service https://creativeconnections.us12.list-manage.com/subscribe?u=0be901f875b69817eddd7e71b&id=0cb2cf5b72.

Or we just use the MA Info service and do not maintain a separate list (would be my proposal in order to reduce administrative overhead)
Who on the MA mailing list would not be interested in FMI news :-)?
And on the

[2020-04-14 07:42] andreas-junghanns commented on #127
I like re-using the MA-info list for the reasons Christian outlined.
I will ask MartinO if he thinks this is a good idea.
I will report here in the result.

[2020-05-14 19:55] andreas-junghanns commented on #127
Can we close this here, now that we have delegated this to Filip?

[2020-05-14 19:58] andreas-junghanns commented on #100
@t-sommer : should we point to the github project on the front page? Right now, how to contribute is hard to find.

[2020-05-14 20:06] chrbertsch commented on #127
I would close it once we have included the link to the registration (that is to be provided by Filip) on our website :-)

Has it been discussed in the MA Board how to proceed? Will the other MA projects join our approach?

[2020-05-14 20:10] andreas-junghanns commented on #127
Yes, it was discussed, but the other projects where not present. So it was not much of a discussion.

[2020-06-14 17:47] chrbertsch commented on #127
As the Modelica newletter emailing service has been extended by a FMI-info possibility, we can now re-add this to our webpage:
https://urldefense.com/v3/__https:/creativeconnections.us12.list-manage.com/subscribe?u=0be901f875b69817eddd7e71b&id=0cb2cf5b72__;!!A4F2R9G_pg!NotBpiMT9NrfAV-nlUXEFeJaIENx_j0SSqQFl_ZTQ2cYuq0kqHdMLizJCK3W7vd_TvVBSYw$

@t-sommer Where shall we add this? On the main page, in

[2020-06-15 14:49] chrbertsch opened #253 "Add FMU Checker Tool comparison"
Tools: (columns)
* FMU Compliance Checker
* FMPy
* FMU check (web-based with fmpy under the hood)
* VDMCheck

Features:
* validate xml against xsd
* validate model structure
* validate file/folder structure
* supported platforms (win (x86, x86_46, linux, darwin, aarch, source, ...)
* simulate FMUs
  * simulation with inputs
  * validate against reference outputs
* download size

[2020-06-15 20:05] chrbertsch commented on #127
@t-sommer : here is a permalink http://eepurl.com/dpvVdH that can be used

[2020-06-16 10:20] chrbertsch commented on #127
Resolved with #254

[2020-06-16 10:21] #127 closed

[2020-09-03 10:20] christoff-buerger opened #266 "FMI 3.0: Unit specification error regarding relativeQuantity"
In Section _2.2.2. Definition of Units_ the conversion of units based on `<BaseUnit>` is described.

One important pitfall is to incorporate the `offset` if `relativeQuantity="true"`; an example is given in subsection _Signal connection check_ which even refers to the definition of `relativeQuantity` below.

The problem now is, that the definition/description of `relativeQuantity` only talks about

[2020-09-03 18:07] chrbertsch commented on #266
@christoff-buerger : this is the github repository for the FMI website.
Please open an ticket on https://github.com/modelica/fmi-standard.

[2020-09-03 18:07] #266 closed

[2020-09-05 12:39] christoff-buerger commented on #266
Opened ticket at https://github.com/modelica/fmi-standard/issues/1165.

I am sorry for the confusion!

[2020-10-28 20:28] chrbertsch commented on #100
@TorstenBlochwitz, @andreas-junghanns and @t-sommer  : Can we close this? we have the "about", the "FAQ" which states the state of FMI3.0 development, and a link to the github project.

[2020-10-29 08:19] TorstenBlochwitz commented on #100
I would propose to add a link to the FAQ page to the FMI homepage below the links to the current version. I propose the following text: Currently version 3.0 of FMI is in development. The planned new features are listed here (Link to FAQ page, section "What will be the new features of FMI 3.0?").

[2020-11-11 21:20] t-sommer opened #275 "Add online FMU Check"
I've created a new [prototype of the online FMU Check](https://fmu-check.herokuapp.com/).

@TorstenBlochwitz, @chrbertsch, @andreas-junghanns, please add your feedback and suggestions here, so we can improve it and vote on releasing it at the next steering committee meeting.

The source code will be released on GitHub when we go live.

[2020-11-12 06:32] GarronFish opened #276 "Typo in 3.2.4 Psudocode Example in FMI-Spec"
tEnd should be Tend in Section 3.2.4 in FMI-Specification 2.0.1

[2020-11-12 06:40] chrbertsch commented on #276
This is a repo for the FMI website only, moved to https://github.com/modelica/fmi-standard/issues/1269

[2020-11-12 06:40] #276 closed

[2020-11-12 12:12] fajansen commented on #275
Display of Parameters and Ports would be nice

[2020-11-13 08:54] andreas-junghanns commented on #275
I tested a few FMUs, most passed.
I like the simplicity of use.
Speed is great.

Some old ones had names that caused errors:
{{{
"clutch1.mue_pos[1, 1]" (line 377) is not a legal variable name for naming convention "structured". No terminal defined for ' ' at line 1 col 19 clutch1.mue_pos[1, 1] ^ Expecting: {'__ANON_3'}
}}}
Apparently, the space is blamed (the location saved the day), but the erro

[2020-11-13 09:02] t-sommer commented on #275
Can you please propose a list?

[2020-11-13 12:43] chrbertsch commented on #275
For defect FMUs (non fmu-ending, non zip-files, corrupt zip files) the Website hangs. I will send you an example of such a corrup FMU via email

[2020-11-13 14:37] chrbertsch commented on #275
Currently this is a static check only.
It would be great to add a test of instantiation and simulation of the FMU also (similar as with the FMU Compliance Checker). Perhaps this could even be combined with displaying results via the new fmpy Web app.

As this checker is based on fmpy, it would be good to document this (and link to the sources), so that people can inspect it.

[2020-11-13 15:37] andreas-junghanns commented on #275
What would you do for the different platforms supported in one FMU?

[2020-11-13 22:57] t-sommer commented on #275
Currently the web app runs on a x86_64 Linux host. We could extend it to a more complex setup with additional Windows and Mac workers. Maybe even use use [Wine](https://www.winehq.org/)?

[2020-11-23 21:28] t-sommer commented on #275
- [X] fixed

[2020-12-02 10:10] TorstenBlochwitz commented on #275
I tested some FMUs and it worked very well.

The description looks good to me. I would propose something like:
This FMU check does not compute (or execute, or run) the the FMU! If you want to do so, please use <link to FMU Compliance Checker> or <link to FMPy>.

In addition to that: I assume the FMU is uploaded to somewhere. If it is like this, we should inform potential users about it, because th

[2020-12-16 17:08] #275 closed

[2020-12-17 15:18] chrbertsch opened #281 "Add link to sources of FMU-Check"
on https://fmu-check.herokuapp.com/

[2021-01-25 14:53] TorstenBlochwitz opened #285 "Contact forward e-mail adress"
The e-mail address projectleader@fmi-standard.org is forwarded to the project leader and his deputy. The latter points to my old e-mail address Blochwitz@itisim.com.

This needs to be changed to Torsten.Blochwitz@esi-group.com since forwarding from the old address will end soon.

[2021-01-25 14:57] TorstenBlochwitz commented on #285
@andreas-junghanns: You might have the same proble?

[2021-01-25 15:07] andreas-junghanns commented on #285
Yes, I have the same issue: please change to andreas.junghanns@synopsys.com.

However, I think this is the wrong repo.

Maybe https://github.com/modelica/BackOffice is better?
Or https://github.com/modelica/MA-Internal?

@t-sommer ?

[2021-01-25 15:08] t-sommer commented on #285
Yes, please move this to https://github.com/modelica/BackOffice.

[2021-01-25 15:50] andreas-junghanns commented on #285
I cannot see the Backoffice repo in the transfer list - I might not have the right.
Leo, can you do that?

[2021-02-22 11:38] thisiswhereitype opened #292 "Unclear on pandapower support in tools page"
Pandapower tool does not directly support FMI, but does via various third party tools however this is not clear.

PR #234 adds pandapower

But this is not clear according to this: [pandapower issue 777](https://github.com/e2nIEE/pandapower/issues/777)

[The comment](https://github.com/e2nIEE/pandapower/issues/777#issuecomment-644664491) points to another repository:
https://framagit.org/Adrien.Gou

[2021-02-22 19:08] chrbertsch commented on #292
@AdrienGougeon : if the  FMU export from pandapower is not official but provided from https://framagit.org/Adrien.Gougeon/pandapower-fmu, I suggest that you rename the entry  in the list https://fmi-standard.org/tools/ from "pandapower" to "pandapower-fmu" and link to your github repo

Are you in connection with the developers of https://github.com/AIT-IES/pandapowerFMU?
Perhaps you should avoid n

[2021-02-23 08:36] adrgougeon commented on #292
@chrbertsch: you are right, I made a pull request to rename the tool and changed to link

I am not in connection with the developers of https://github.com/AIT-IES/pandapowerFMU

[2021-02-23 10:25] t-sommer commented on #100
Fixed with 5fdf2c9feca299d4bb3eb789ee55dbd4053529b3

[2021-02-23 10:25] #100 closed

[2021-03-15 20:52] chrbertsch opened #293 "Add link to latest tagged version of FMI3.0(alpha, beta, RC)"

[2021-03-15 22:35] andreas-junghanns commented on #293
Who can create a PR?

[2021-03-17 14:50] chrbertsch opened #295 "List FMI 3 examples"
.... next to the Test FMUs from the Cross-Check in   https://fmi-standard.org/downloads/

- Reference FMUs
- https://github.com/PMSFIT/FMI30TestFMUs

perhaps also link or copy part of https://github.com/traversaro/awesome-fmi#fmi-3

[2021-04-13 07:45] t-sommer opened #299 "Fix am/pm and add timezone to Google calendar entries"
![calendar](https://user-images.githubusercontent.com/2453858/114515649-dde9f400-9c3c-11eb-990a-7590184d17c5.PNG)

[2021-04-13 08:24] chrbertsch commented on #299
Fixed

[2021-04-13 08:24] #299 closed

[2021-04-19 07:38] andreas-junghanns commented on #292
I see no prending PR for this, so either nobody cares are this was already fixed - closing.

[2021-04-19 07:38] #292 closed

[2021-04-19 07:41] andreas-junghanns commented on #99
abandoned ticket, closing.

[2021-04-19 07:41] #99 closed

[2021-04-19 07:49] andreas-junghanns commented on #120
@chrbertsch : can we close this? Or should we try to push again? Maybe after the release of 3.0 when we have nothing else to do?

[2021-04-19 07:53] andreas-junghanns commented on #128
@chrbertsch : I think this quite a task and I do not know how to do this: spelling of vendors is tricky (upper/lower case, with Inc. or PLM,...) to get right and asking vendors to fix the format might take ages to get done (we have no consistent way to contact them to ask them to get their entry fix). How would you propose the data to be cleaned up?
I suggest to leave things as they are until we c

[2021-04-19 08:26] #128 closed

[2021-04-19 08:27] chrbertsch commented on #120
At least for large companis, using their logo would require signing a contract, which would make things to complicated. The tools page speaks for itself.

[2021-04-19 08:27] #120 closed

[2021-05-02 12:11] t-sommer commented on #293
There is [a news post with a link to the (pre-)releases](https://fmi-standard.org/news/2021/04/21/fmi3.0beta.1-prerelease.html) on the front page. Do we need yet another link?

[2021-05-02 14:29] chrbertsch commented on #293
OK, the news post should be enough

[2021-05-02 14:29] #293 closed

[2021-05-12 07:47] t-sommer opened #304 "Links to resources on modelica.org are broken"
see https://app.circleci.com/pipelines/github/modelica/fmi-standard.org/832/workflows/5605c155-6b18-494f-a64f-e4a00ebd1cf5/jobs/838

[code]

[2021-05-12 07:50] t-sommer commented on #304
@MABackoffice, what's going on?

[2021-05-12 07:57] beutlich commented on #304
modelica.org moved from TU-HH server to GitHub pages. Not all links survived. As for the Modelica Conference event links, you can easily link to https://2015.international.conference.modelica.org/, https://2017.international.conference.modelica.org/ or https://2019.international.conference.modelica.org/. See also https://github.com/modelica/ModelicaStandardLibrary/pull/3804/files.

[2021-05-12 07:58] beutlich commented on #304
https://www.modelica.org/licenses/ModelicaAssociationCLA_1.1 was updated to https://modelica.org/licenses/ModelicaAssociationCLA_1.1.1.html.

[2021-05-12 08:25] t-sommer commented on #304
@beutlich, why don't you redirect the links to the new location?

[2021-05-12 08:31] beutlich commented on #304
@sjoelund Can this be done?

[2021-05-12 08:42] t-sommer commented on #304
What happened to https://www.modelica.org/events/modelica2017/documents/fmi-user-meeting ?

[2021-05-12 08:51] sjoelund commented on #304
Some of these could be redirected (e.g. by creating https://www.modelica.org/licenses/ModelicaAssociationCLA_1.1/index.html). Most of the links (such as the modelica2015, etc) have had permanent redirects for some years to give time to update the links.

As for some documents being missing, they are the ones that were marked by the aurhor as hidden in Plone (which means robots.txt forbid the scrip

[2021-05-12 09:07] sjoelund commented on #304
These are redirected now: https://github.com/modelica/old.modelica.org/commit/57eb8716fb0692268f5f6e6421c36333f7ae4f3f https://github.com/modelica/old.modelica.org/commit/9e3906db144805c87cf30b9171077cb39ff1ad7a

[2021-05-12 09:14] t-sommer commented on #304
What is the motivation for the nested domain name vs. the original folder structure? Is it really necessary to break all the links?

[2021-05-12 09:22] sjoelund commented on #304
The conference organizers wanted it for newer conferences. Working with Github is much, much, much easier than working with Plone. Old conferences should also be moved to make it easier to design the main modelica.org webpage (why would some conferences be in Plone and some not?).

Links had permanent redirects for several years. If necessary, you can add new ones (just a path/to/file.pdf/index.ht

[2021-05-12 09:53] t-sommer commented on #304
This seems totally unnecessary and causes a lot of conflicts and work. Why do you have to change all the links if you redesign the page?

[2021-05-12 10:00] sjoelund commented on #304
Because you have tons of idiotic Plone-specific links otherwise? If we hosted the files on apache instead of github-pages, I would have included the regex-redirects.

[2021-05-12 13:09] sjoelund commented on #304
Then you linked the wrong version of the paper. The DOI is the permanent link, and there was a permanent redirect available for Google to change its search results to 2016.international... Github pages do not support permanent redirects and the Plone directory structure cannot be fully handled as it considers something ending with / both a file and a directory (cannot be represented as files).

[2021-05-12 19:10] mt35-rs commented on #304
@sjoelund Is the old site available at an alternate domain?  This would allow us to migrate any "stragglers" that got missed because of "hidden" flags, etc.

[2021-05-19 10:55] sjoelund commented on #304
No, it's not

[2021-05-19 11:26] sjoelund commented on #304
modelica2015,2017,2019 now have redirects for the proceedings/html pages. The PDFs you found for 2018 Japan seem to have been linked to doi.org in the original page, but might have had the PDF hidden somewhere as well. This and 2018 America now redirect to doi.org. Mostly done using https://github.com/modelica/old.modelica.org/blob/master/.scripts/modelicaconf.py (requires checking out the confere

[2021-06-07 08:20] chrbertsch opened #306 "Add Link to FMI Trademark usage in FAQ"
Currently I do not find a link to https://svn.modelica.org/fmi/branches/public/docs/Trademark%20Guidelines%20for%20the%20Use%20of%20the%20FMI%20Trademark%20V1.0.pdf  on our website.

[2021-06-07 08:40] sjoelund commented on #306
For sure do not link to that anywhere and save that repository somewhere if you need it. It's going offline in a few days.

[2021-06-07 11:04] andreas-junghanns commented on #306
The source of the file is in [https://github.com/modelica/fmi-design/tree/master/FMI_Trademark]. If we cannot link that, we need a copy in the fmi-standard.org repo.

[2021-06-07 11:10] sjoelund commented on #306
That repository is private, so I guess you would need it in fmi-standard.org. But it seems like a rather simple document. I think you would want to put it was markdown so it's just a normal webpage.

[2021-07-23 14:36] t-sommer opened #321 "Images on https://fmi-standard.org/about/ are broken"

[2021-08-12 13:43] t-sommer opened #323 "Fix links on downloads page"
e.g. https://svn.modelica.org/fmi/branches/public/specifications/v2.0/FMI_for_ModelExchange_and_CoSimulation_v2.0.zip

[2021-09-07 12:35] andreas-junghanns commented on #306
solved with #329

[2021-09-07 12:35] #306 closed

[2021-09-07 12:52] chrbertsch commented on #295
I think  https://github.com/traversaro/awesome-fmi#fmi-3 does a good job, and internally we have the sandbox with prototypical FMI3 FMUs. At the FMI User Meeting at the Modelica Conference some prototypes will be shown, so I would close this.

[2021-09-07 12:52] #295 closed

[2021-09-07 12:54] chrbertsch commented on #281
Here is the link: https://github.com/modelica/fmu-check

[2021-09-07 16:21] andreas-junghanns commented on #304
I merged the PR that fixed all but one of the resources (but I think I see others as well, maybe the link validation does not go through all files?)
Can we close this for the original issue is solved?

[2021-11-05 21:43] chrbertsch commented on #304
Closing as I think this is fixed.
Please reopen, of this this is not the case, or create a new ticket if only individual links do not work any more

[2021-11-05 21:43] #304 closed

[2021-11-12 13:08] #321 closed

[2021-11-12 13:08] #323 closed

[2021-11-30 20:23] chrbertsch opened #343 "Links to FMI 1.0.1 standard Zip an PDF files broken"
The links on https://fmi-standard.org/downloads/ for the download of FMI 1.0.1 are broken (the point the the old SVN server).

The PDFs are located here: https://github.com/modelica/fmi-design/tree/master/FMI_1.0.1, but have we stored anywhere the "complete package" Zip Files? @sjoelund could you perhaps restore them from the SVN backup? Thanks

(in fact, perhaps it is a good sign that nobody comp

[2021-12-01 07:00] sjoelund commented on #343
[FMI_for_CoSimulation_v1.0.1.pdf](https://github.com/modelica/fmi-standard.org/files/7631505/FMI_for_CoSimulation_v1.0.1.pdf)
[FMI_for_CoSimulation_v1.0.1.zip](https://github.com/modelica/fmi-standard.org/files/7631506/FMI_for_CoSimulation_v1.0.1.zip)
[FMI_for_CoSimulation_v1.0.pdf](https://github.com/modelica/fmi-standard.org/files/7631507/FMI_for_CoSimulation_v1.0.pdf)
[FMI_for_CoSimulation_v1.0

[2021-12-01 16:48] #343 closed

[2021-12-09 15:02] ishengyeh commented on #275
Hi, many thanks forthis great tool, so easy to use.  Here I got a FMU which failed to pass your test; however, it passed FMUChecker_2.0.4 from fmi-standard.  The error message from your app is: ModelStructure/Outputs must have exactly one entry for each variable with causality="output".  Could you please kindly let me know what is causing this complaint?  Thanks a lot.

[2021-12-10 10:46] t-sommer commented on #275
The `modelDescription.xml` of your FMU does not have the required entries in `ModelStructure/Outputs` (see [FMI 2.0.3 Spec](https://github.com/modelica/fmi-standard/releases/download/v2.0.3/FMI-Specification-2.0.3.pdf), p. 61).

[2021-12-10 18:54] ishengyeh commented on #275
Thanks a lot for the response.  I took a 2nd look at my xml and failed to see anything wrong for OUTPUT variable description, Could you please take a look at my xml file and tell me exactly what is wrong with it?  Your help is highly appreciated. my fmu file:
[INV_PEND3.zip](https://github.com/modelica/fmi-standard.org/files/7694883/INV_PEND3.zip)
u

[2021-12-11 16:57] t-sommer commented on #275
The FMU has one output variable `FX621`

[code]

but no corresponding entry in `ModelStructure/Outputs`

[code]

See https://github.com/modelica/Reference-FMUs/blob/master/BouncingBall/FMI2.xml for a valid example of an FMU with outputs.

[2021-12-11 20:11] ishengyeh commented on #275
Thanks a lot, it works now.  Highly appreciate your help.

[2021-12-13 18:24] ishengyeh commented on #275
Sorry to bother you again, here I have a FMU passing your compliance checker; however it crashed in the checker of FMUChecker-2.0.4-linux64 downloaded from https://github.com/modelica-tools/FMUComplianceChecker/releases.  It just crashed w/o any message, see below.  I tried to follow BUILD.md to build the checker so that I can debug by myself, I run into some error message, also attached.  Could I

[2021-12-14 09:14] t-sommer commented on #275
Please open an issue on https://github.com/modelica-tools/FMUComplianceChecker/issues.

[2021-12-14 15:57] ishengyeh commented on #275
Just opened, thanks.

[2022-02-19 09:19] t-sommer opened #357 "Create news post for v3.0-beta.4"

[2022-02-20 08:03] #357 closed

[2022-03-07 11:40] chrbertsch opened #360 "Mark tools page as "under construction""
according to https://github.com/modelica/fmi-design/tree/master/Meetings/2022/2022-02-08-FMI-Steering#fmi-cross-check-fmi-standard-orgtools

[2022-04-14 18:13] chrbertsch opened #380 "Add link to FMI Implementer's guide and features Profile on FMI 3.0 webpage"
https://modelica.github.io/fmi-guides/main/fmi-guide/#_support_for_optional_features mentions that the feature profile can  be found on the FMI website

[2022-07-05 21:31] ForrestTrepte opened #402 "building website fails with LoadError about webrick"
I am running Windows with hash 2911945 of fmi-standard.org. When I tried building the web site using the instructions at https://github.com/modelica/fmi-standard.org/blob/main/CONTRIBUTING.md#building-the-website-locally to run the command `docker run --volume="%cd%:/srv/jekyll" -p 4000:4000 -it jekyll/jekyll jekyll serve`, I received the following error message:

[code]

Any ideas what I may be d

[2022-07-06 12:14] #402 closed

[2022-07-06 23:53] ForrestTrepte commented on #402
Thanks, @t-sommer! That fixed it for me.

[2022-08-22 14:26] t-sommer opened #408 "Autoplay video when clicking on "Why FMI""
and stop when modal window is closed

[2022-08-22 15:09] t-sommer opened #409 "Add Steering Committee member logos to start page"
like on https://vuejs.org/:

![Screenshot 2022-08-22 170806](https://user-images.githubusercontent.com/2453858/185955334-fa745ea5-9b34-49ab-acf3-51b03b9921ae.png)

[2022-08-22 18:15] chrbertsch opened #410 "Add "how can I list a new tool or update tool information?" to tools page"
Add a link to https://github.com/modelica/fmi-standard.org/blob/main/CONTRIBUTING.md#updating-the-tools-list on  https://fmi-standard.org/tools/

[2022-08-22 18:30] chrbertsch opened #411 "Change order of tools: with logo first"
as suggested in https://github.com/modelica/fmi-design/tree/master/Meetings/2022/2022-07-06_FMI-Steering

[2022-08-22 20:29] t-sommer opened #413 "Update FAQ"

[2022-08-22 22:15] #408 closed

[2022-08-23 13:44] chrbertsch commented on #360
Cross Check are no longer linked anyway

[2022-08-23 13:44] #360 closed

[2022-08-25 07:12] andreas-junghanns commented on #410
I think Contributing.md should be linked to directly from /about, at least.
I personally think this could also be another tab in the headline of the pages - as we seek contributions, right?

[2022-08-25 10:25] chrbertsch opened #426 "Document that Cross Check is inactive currently"
... and will be relaunched hopefullly soon after the new XC rules have been defined.

On tool page and/or a new FAQ page? ("Where are the Cross Check results and why can they not be updated currently?")

[2022-08-25 11:37] chrbertsch opened #428 "Add "C-code" Platform to tools"
... or why have we removed this?

[2022-08-26 12:41] JohannesUl opened #429 "Add link to download FMI 2 Download"
Hi,

even though FMI 3.0 is released now I would appreciate a link to download the FMI 2 standard and package on the website.

Best,
Johannes

[2022-08-26 12:43] chrbertsch commented on #429
Sure :-)
![grafik](https://user-images.githubusercontent.com/16363372/186905966-d837b3be-bbce-4def-97dd-ea4f254ba92a.png)

[2022-08-26 12:43] #429 closed

[2022-08-26 13:51] chrbertsch opened #430 ""FMI in a nutshell" for FMI website"
motivated by "Julia in a Nutshell" on  https://julialang.org/:
I suggest to create a "FMI in a Nutshell" description with a similar formatting:

First draft (brain-storming):

**Containerized models**
The tool-independent FMI standard describes the interface of models (inputs, outputs and parameters) in an XML file, and provides an API how to interact with the model with different interface types

[2022-08-26 16:37] JohannesUl commented on #429
Thanks. Not obvious to find though. ;-)

[2022-08-29 11:59] chrbertsch opened #431 "CCLA missing (link dos not work)"
The Link to the CCLA does not work.
https://github.com/modelica/fmi-standard.org/tree/main/assets/FMI_CCLA_v1.0_2016_06_21.pdf
Was this removed during the switch to Huge?

Where are such files supposed to reside? in /assets or static/assets?

[2022-08-29 12:20] t-sommer commented on #431
Are you looking for https://github.com/modelica/fmi-standard/blob/main/FMI_CCLA.adoc?

[2022-08-29 12:24] chrbertsch commented on #431
I am looking at the link to the CCLA in https://fmi-standard.org/about/ that does not work, and which should link to printable (PDF) version of the CCLA, not to the adoc.

[2022-08-29 12:35] #431 closed

[2022-09-01 09:59] t-sommer opened #437 "Add link to FMU-Check to navbar"

[2022-09-01 12:27] #410 closed

[2022-09-13 06:36] andreas-junghanns opened #443 "Add prominent link to previous versions of FMI"
Right now, FMI 3.0 is accessible from the home page.
Where are the previous versions linked?

[2022-09-13 06:37] andreas-junghanns commented on #443
Ah - stupid. Me.

[2022-09-13 06:37] #443 closed

[2022-09-13 13:59] chrbertsch commented on #409
Steering Committe meeting:
Andreas: all for it
Pierre: perhaps front page too full, could be on a page on the development process ("How to get involved")
(About page already too full)
Torsten B. ; I gree

[2022-09-14 08:26] TorstenBlochwitz commented on #413
The last FAQ "I added my test FMUs/Cross-Check results but the tools page does not show “green”. Why?" is obsolete.

[2022-09-14 08:29] TorstenBlochwitz commented on #411
The current ordering of the tools list is not clear. We should either order according to tool or company names.

[2022-09-14 08:34] TorstenBlochwitz opened #444 "Links to external resources are missing on new website"
In the old web-site we had some links to (as far as I remember):
- the FMU Checker from Modelon (we should keep it, even it supports FMI 2.0 only and check less features compared to FMPy)
- QTronics (now Synopsys) FMU Toolbox (was this the correct name?) if Andreas agrees
- FMPy repo
- some other stuff

[2022-09-22 15:47] #430 closed

[2022-11-09 14:41] chrbertsch opened #449 "Define compatibilty information of tools"
https://github.com/modelica/fmi-design/blob/master/Meetings/2022/2022-10-25_27-F2F-FMI-Design-Meeting/Material/Compatibility_information_description.md

[2022-11-14 12:52] chrbertsch opened #451 "Shall we have an FMI consultatants list on the FMI website?"
I get asked about consultatants and trainers on FMI.

We could have a list similar to https://modelica.org/consultants.html for Modelica.  Content could be provided via Pull requests.